<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
    <title>weather</title>
</head>
<body>

    <h1>Welcome to my weather app </h1>
    <h3>i hope you'll not get wet</h3>

    <form action="/weather" method="POST">
        <input type="text" placeholder="Enter a city" name="cityName" >
        <br>
        <button class="submit">Get Weather</button>
    </form>
    
    
    <div class="result">
        {{weather}}
        {{Error}}
    </div>
</body>
</html>