<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>handlebars</h1>

    <form action="/weather" method="POST">
        <input type="text" name="cityName" >
        <button class="submit">submit</button>
    </form>
    
</body>
</html>